<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KinproPressingEntitie" connectionString="metadata=res://*/KinproPressingModel1.csdl|res://*/KinproPressingModel1.ssdl|res://*/KinproPressingModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\projects;initial catalog=KinproPressing;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KinproPressingdbEntitie" connectionString="metadata=res://*/KinproPressingDBModel.csdl|res://*/KinproPressingDBModel.ssdl|res://*/KinproPressingDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\projects;initial catalog=KinproPressing;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KinproPressingEntities" connectionString="metadata=res://*/KinproPressingDBModel.csdl|res://*/KinproPressingDBModel.ssdl|res://*/KinproPressingDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\projects;initial catalog=KinproPressing;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KinproPressingEntities" connectionString="metadata=res://*/KinproPressingDBModel.csdl|res://*/KinproPressingDBModel.ssdl|res://*/KinproPressingDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\projects;initial catalog=KinproPressing;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="KinproService.ClothService">
        <endpoint address="" binding="basicHttpBinding" contract="KinproService.IClothService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinproService/ClothService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinproService.EntreeService">
        <endpoint address="" binding="basicHttpBinding" contract="KinproService.IEntreeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinproService/EntreeService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="KinproService.ClientService">
        <endpoint address="" binding="basicHttpBinding" contract="KinproService.IClientService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinproService/ClientService/" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="KinproService.ClientService">
        <endpoint address="" binding="basicHttpBinding" contract="KinproService.IClientService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinproService/ClientService/" />
          </baseAddresses>
        </host>
      </service>-->
      <service name="KinproService.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="KinproService.IEmployeeService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/KinproService/EmployeeService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>