<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClothService" />
            </basicHttpBinding>
        </bindings>
        <client>
           
            <endpoint address="http://localhost:8733/Design_Time_Addresses/KinproService/ClothService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClothService"
                contract="ClothService.IClothService" name="BasicHttpBinding_IClothService" />
        </client>
    </system.serviceModel>
</configuration>